@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h6 class="bg-secondary text-white text-center m-2 p-2">Cubed</h6>
    <form method="get" action="/cubed/cube" class="m-2">
        <div class="form-group">
            <label>Value</label>
            <input name="num" class="form-control" value="@(TempData["value"])" />
        </div>
        <button class="btn btn-primary mt-1" type="submit">Submit</button>
    </form>
    @if (TempData["result"] != null)
    {
        <div class="bg-info text-white m-2 p-2">
            The cube of @TempData["value"] is @TempData["result"]
        </div>
    }
    <div class="d-flex gap-2">
        <a asp-controller="Home"
           asp-action="Index"
           class="btn btn-primary">
            Index
        </a>

        <a asp-controller="Home"
           asp-action="List"
           class="btn btn-success">
            List
        </a>
    </div>
</body>
</html>
